
table{
  /* margin:  50px 50px 40px; */
  align-items: center;
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;

}

thead{
  background: #555555;
  color: white;
  font-weight: bold;
}

td, th{
  border: 1px solid #000000;
  padding: 8px 15px;
}
