          <!-- Dropdown de Alimentos e Tecnologia -->
          <li class="nav-item">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="basesBiologicasDropdown"
              role="button"
              data-bs-toggle="collapse"
              data-bs-target="#basesBiologicasMenu"
              aria-expanded="false"
              aria-controls="basesBiologicasMenu"
            >
              Bases Biológicas e Biomédicas
            </a>
            <div id="basesBiologicasMenu" class="collapse">
              <ul class="nav flex-column ms-3">
                <!-- Bromatologia -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#bromatologiaMenu"
                    aria-expanded="false"
                    aria-controls="bromatologiaMenu"
                    >Biologia Celular e Tecidual</a
                  >
                  <div id="bromatologiaMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Introdução</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Membrana Plasmática</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Citoplasma e Organelas</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Núcleo Celular</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Divisão Celular</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Diferenciação Celular</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Tecido Epitelial</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Tecido Conjuntivo</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Tecido Muscular</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Tecido Nervoso</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Extras</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Orientadas a Objetos -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#gastronomiaNutricaoMenu"
                    aria-expanded="false"
                    aria-controls="gastronomiaNutricaoMenu"
                    >Biologia Molecular</a
                  >
                  <div id="gastronomiaNutricaoMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Introdução</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Ácidos Nucleicos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Replicação do DNA</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Transcrição</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Tradução</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Expressão Gênica</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Mutação e Reparo do DNA</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Tecnologias</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Genética Molecular</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Aplicações em Nutrição</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Funcionais / Multi-paradigma -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#regionalidadesMenu"
                    aria-expanded="false"
                    aria-controls="regionalidadesMenu"
                    >Bioquímica da Nutrição</a
                  >
                  <div id="regionalidadesMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Introdução</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Carboidratos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Lipídios</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Proteínas e Aminoácidos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Vitaminas e Cofatores</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Minerais e Elementos Traço</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Enzimas</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Integração Metabólica</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Bioenergética</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Regulação Hormonal do Metabolismo</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Distúrbios e Aplicações Clínicas</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Bioquímica da Nutrição</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Linguagens de Script -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#terapiasAlternativasMenu"
                    aria-expanded="false"
                    aria-controls="terapiasAlternativasMenu"
                    >Biotecnologia</a
                  >
                  <div id="terapiasAlternativasMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">JavaScript</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Perl</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Python</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">PHP</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">TypeScript</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Linguagens de Script -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#terapiasAlternativasMenu"
                    aria-expanded="false"
                    aria-controls="terapiasAlternativasMenu"
                    >Anatomia Humana</a
                  >
                  <div id="terapiasAlternativasMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">JavaScript</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Perl</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Python</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">PHP</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">TypeScript</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Linguagens de Script -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#terapiasAlternativasMenu"
                    aria-expanded="false"
                    aria-controls="terapiasAlternativasMenu"
                    >Fisiologia Humana</a
                  >
                  <div id="terapiasAlternativasMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">JavaScript</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Perl</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Python</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">PHP</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">TypeScript</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Linguagens de Script -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#terapiasAlternativasMenu"
                    aria-expanded="false"
                    aria-controls="terapiasAlternativasMenu"
                    >Genética</a
                  >
                  <div id="terapiasAlternativasMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">JavaScript</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Perl</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Python</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">PHP</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">TypeScript</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Linguagens de Script -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#terapiasAlternativasMenu"
                    aria-expanded="false"
                    aria-controls="terapiasAlternativasMenu"
                    >Integração do Corpo Humano</a
                  >
                  <div id="terapiasAlternativasMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">JavaScript</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Perl</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Python</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">PHP</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">TypeScript</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Linguagens de Script -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#terapiasAlternativasMenu"
                    aria-expanded="false"
                    aria-controls="terapiasAlternativasMenu"
                    >Mecanismo Lesão Reparo</a
                  >
                  <div id="terapiasAlternativasMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">JavaScript</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Perl</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Python</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">PHP</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">TypeScript</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Linguagens de Script -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#terapiasAlternativasMenu"
                    aria-expanded="false"
                    aria-controls="terapiasAlternativasMenu"
                    >Mecanismos Agressão Defesa</a
                  >
                  <div id="terapiasAlternativasMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">JavaScript</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Perl</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Python</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">PHP</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">TypeScript</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Linguagens de Script -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#terapiasAlternativasMenu"
                    aria-expanded="false"
                    aria-controls="terapiasAlternativasMenu"
                    >Patologia</a
                  >
                  <div id="terapiasAlternativasMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">JavaScript</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Perl</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Python</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">PHP</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">TypeScript</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Linguagens de Script -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#terapiasAlternativasMenu"
                    aria-expanded="false"
                    aria-controls="terapiasAlternativasMenu"
                    >Farmacologia</a
                  >
                  <div id="terapiasAlternativasMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">JavaScript</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Perl</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Python</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">PHP</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">TypeScript</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
