          <!-- Dropdown de Avaliação Nutricional -->
          <li class="nav-item">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="avaliacaoNutricionalDropdown"
              role="button"
              data-bs-toggle="collapse"
              data-bs-target="#avaliacaoNutricionalMenu"
              aria-expanded="false"
              aria-controls="avaliacaoNutricionalMenu"
            >
              Avaliação Nutricional
            </a>
            <div id="avaliacaoNutricionalMenu" class="collapse">
              <ul class="nav flex-column ms-3">
                <!-- Procedural/Imperativa -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#bromatologiaMenu"
                    aria-expanded="false"
                    aria-controls="bromatologiaMenu"
                    >Avaliação Nutricional</a
                  >
                  <div id="bromatologiaMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">C</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">COBOL</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Easytrieve</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">JCL</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">PowerShell</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Shell</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">VBA</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
