          <!-- Dropdown de Avaliação Nutricional -->
          <li class="nav-item">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="avaliacaoNutricionalDropdown"
              role="button"
              data-bs-toggle="collapse"
              data-bs-target="#avaliacaoNutricionalMenu"
              aria-expanded="false"
              aria-controls="avaliacaoNutricionalMenu"
            >
              Avaliação Nutricional
            </a>
            <div id="avaliacaoNutricionalMenu" class="collapse">
              <ul class="nav flex-column ms-3">
                <!-- Procedural/Imperativa -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#bromatologiaMenu"
                    aria-expanded="false"
                    aria-controls="bromatologiaMenu"
                    >Procedural/Imperativa</a
                  >
                  <div id="bromatologiaMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">C</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">COBOL</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Easytrieve</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">JCL</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">PowerShell</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Shell</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">VBA</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Orientadas a Objetos -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#gastronomiaNutricaoMenu"
                    aria-expanded="false"
                    aria-controls="gastronomiaNutricaoMenu"
                    >Orientadas a Objetos</a
                  >
                  <div id="gastronomiaNutricaoMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">C#</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">C++</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Java</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Kotlin</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Objective-C</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">PHP</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Python</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Swift</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Funcionais / Multi-paradigma -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#regionalidadesMenu"
                    aria-expanded="false"
                    aria-controls="regionalidadesMenu"
                    >Funcionais / Multi-paradigma</a
                  >
                  <div id="regionalidadesMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Scala</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Rust</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Python</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Ruby</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">R</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Linguagens de Script -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#terapiasAlternativasMenu"
                    aria-expanded="false"
                    aria-controls="terapiasAlternativasMenu"
                    >Linguagens de Script</a
                  >
                  <div id="terapiasAlternativasMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">JavaScript</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Perl</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Python</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">PHP</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">TypeScript</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Linguagens de Sistema / Performáticas -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#systemMenu"
                    aria-expanded="false"
                    aria-controls="systemMenu"
                    >Sistema / Performáticas</a
                  >
                  <div id="systemMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">C</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">C++</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Go</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Rust</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Linguagens Web e Mobile -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#webMobileMenu"
                    aria-expanded="false"
                    aria-controls="webMobileMenu"
                    >Web e Mobile</a
                  >
                  <div id="webMobileMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Dart</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">JavaScript</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">TypeScript</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Swift</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Kotlin</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Linguagens de Marcação -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#markupMenu"
                    aria-expanded="false"
                    aria-controls="markupMenu"
                    >Marcação</a
                  >
                  <div id="markupMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">HTML</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">XML</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Linguagens de Estilização -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#stylingMenu"
                    aria-expanded="false"
                    aria-controls="stylingMenu"
                    >Estilização</a
                  >
                  <div id="stylingMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">CSS</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Linguagens de Notação e Dados -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#notationMenu"
                    aria-expanded="false"
                    aria-controls="notationMenu"
                    >Notação e Dados</a
                  >
                  <div id="notationMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">JSON</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">SOAP</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
