.nav__link {
  color: white !important;
}

.nav__link:hover {
  color: aquamarine !important;
}

.nav__link--active {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(222, 184, 184) !important;
  /* font-size: 16px; */
  /* font-weight: bold; */

}

/*
.navbar-nav-scroll {
  max-height: var(--bs-scroll-height, 100vh);
} */

