          <!-- Dropdown de Alimentos e Tecnologia -->
          <li class="nav-item">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="estagiosTccDropdown"
              role="button"
              data-bs-toggle="collapse"
              data-bs-target="#estagiosTccMenu"
              aria-expanded="false"
              aria-controls="estagiosTccMenu"
            >
              Estágios e TCC
            </a>
            <div id="estagiosTccMenu" class="collapse">
              <ul class="nav flex-column ms-3">
                <!-- Bromatologia -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#bromatologiaMenu"
                    aria-expanded="false"
                    aria-controls="bromatologiaMenu"
                    >Estágio Supervisionado</a
                  >
                  <div id="bromatologiaMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Fundamentos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Composição Química</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Alimentos In Natura</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Alimentos Processados</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Aditivos Alimentares</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Contaminantes em Alimentos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Rotulagem de Alimentos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Métodos Analíticos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Qualidade de Alimentos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Fiscalização de Alimentos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Fraudes Alimentares</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Tendências e Inovações</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Orientadas a Objetos -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#gastronomiaNutricaoMenu"
                    aria-expanded="false"
                    aria-controls="gastronomiaNutricaoMenu"
                    >Estágio-Nutrição Clínica</a
                  >
                  <div id="gastronomiaNutricaoMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">C#</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">C++</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Java</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Kotlin</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Objective-C</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">PHP</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Python</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Swift</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Funcionais / Multi-paradigma -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#regionalidadesMenu"
                    aria-expanded="false"
                    aria-controls="regionalidadesMenu"
                    >Estágio-Saúde Coletiva</a
                  >
                  <div id="regionalidadesMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Scala</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Rust</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Python</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Ruby</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">R</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Funcionais / Multi-paradigma -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#regionalidadesMenu"
                    aria-expanded="false"
                    aria-controls="regionalidadesMenu"
                    >Trabalho Conclusão Curso</a
                  >
                  <div id="regionalidadesMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Scala</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Rust</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Python</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Ruby</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">R</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Funcionais / Multi-paradigma -->
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#regionalidadesMenu"
                    aria-expanded="false"
                    aria-controls="regionalidadesMenu"
                    >Estágio-Nutrição Esportiva</a
                  >
                  <div id="regionalidadesMenu" class="collapse">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Scala</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Rust</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Python</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Ruby</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">R</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
