
.codhuman__conteudo {
  margin-top: 80px;
  margin-left: 300px; /* Same as the width of the codhuman__sidenav + 20px*/
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
