
.codhuman__footer {
  /* left: 0; */
  /* bottom: 0; */
  height: 50px;
  margin-top: 80px;
  margin-left: 0px; /* Same as the width of the codhuman__sidenav + 20px*/
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 10px 10px; 
  /* position: fixed; */
  
}
.codhuman__footer p {
  margin-top: 8px;
}

/* footer {
  text-align: center;
  padding: 40px 0;
} */
  /* background: url("bg.jpg"); */

