
.outer-border,
.inner-border {
  border: 1.5px solid #44408A;
  position: absolute;
}

.outer-border {
  width: 16.67px;
  height: 16.67px;
  left: 1.67px;
  top: 1.67px;
}

.inner-border {
  width: 9.49px;
  height: 9.50px;
  left: 5.04px;
  top: 5.46px;
}
