<section class="codhuman__body mt-5">
  <main>
    <div class="codhuman__sidenav">
      <a href="#" class="list-group-item list-group-item-action fs-6">Algoritmos</a>
      <a href="#" class="active list-group-item list-group-item-action fs-6">Algoritmos Distribuídos</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Arquitetura de Computadores</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Automatas e Computabilidade</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Blockchain</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Compiladores</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Computação Científica</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Computação Evolutiva</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Computação Quântica</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Engenharia Reversa</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Estrutura de Dados</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Filosofia da Computação</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Física Computacional</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Geometria Computacional</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Grid Computing</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">História da Computação</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Introdução à Informática</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Lógica de Programação</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Matemática Computacional</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Metodologia de Pesquisa</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Programação</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Simulação</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Sistemas Computacionais</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Teoria da Computação</a>
      <a href="#" class="list-group-item list-group-item-action fs-6">Teoria da Informação</a>
    </div>
    <div class="codhuman__conteudo">
      <div>
        <div class="col">
          <img class="pull-left img-rounded mx-2" src="../../../assets/img/logo-dados.png" style="width: auto; height: 190px;" />
        </div>
        <div class="col-12">
          <h3>Experience &nbsp </h3>
          <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          <p>Reinaldo Santana</p>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <div>
        <div class="col">
          <img class="pull-left img-rounded mx-2" src="../../../assets/img/logo-dados.png" style="width: auto; height: 190px;" />
        </div>
        <div class="col-12">
          <h3>Experience &nbsp </h3>
          <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          <p>Reinaldo Santana</p>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <div>
        <div class="col">
          <img class="pull-left img-rounded mx-2" src="../../../assets/img/logo-dados.png" style="width: auto; height: 190px;" />
        </div>
        <div class="col-12">
          <h3>Experience &nbsp </h3>
          <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          <p>Reinaldo Santana</p>
        </div>
      </div>
    </div>
  </main>
</section>
