<section class="codhuman__body">
  <main>
    <!--
    <div style="margin-left: auto; margin-right: auto; margin-top: 41px;">
      <div class="codhuman__jumbotron text-center">
        <form class="codhuman__form__search" action="/action_page.php" style="margin:auto;max-width:800px">
          <input type="text" placeholder="O que você quer aprender?" name="search2">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div> -->


    <section class="sobre">
      <h3 class="sobre__titulo">Publicações Recentes</h3>
      <!-- <p class="sobre__descricao">
        Nossas disciplinas ajudam você a
      </p> -->
    </section>
    <section class="disciplinas">
      <div class="disciplina">
        <img
          alt="Ciência da Computação"
          class="disciplina__imagem"
          src="./assets/img/disciplinas/logo-ciencia-da-computacao.png"
        />
        <div class="disciplina__conteudo">
          <h4 class="disciplina__titulo">Ciência da Computação</h4>
          <p class="disciplina__descricao">disciplina ...</p>
          <button class="codhuman-botao__area">Ver disciplina</button>
        </div>
      </div>
      <div class="disciplina">
        <img
          alt="Dados"
          class="disciplina__imagem"
          src="./assets/img/disciplinas/logo-ciencia-da-computacao.png"
        />
        <div class="disciplina__conteudo">
          <h4 class="disciplina__titulo">Dados</h4>
          <p class="disciplina__descricao">disciplina ...</p>
          <button class="codhuman-botao__area">Ver disciplina</button>
        </div>
      </div>
      <div class="disciplina">
        <img
          alt="Devops"
          class="disciplina__imagem"
          src="./assets/img/disciplinas/logo-ciencia-da-computacao.png"
        />
        <div class="disciplina__conteudo">
          <h4 class="disciplina__titulo">Devops</h4>
          <p class="disciplina__descricao">disciplina ...</p>
          <button class="codhuman-botao__area">Ver disciplina</button>
        </div>
      </div>
      <div class="disciplina">
        <img
          alt="Hardware"
          class="disciplina__imagem"
          src="./assets/img/disciplinas/logo-ciencia-da-computacao.png"
        />
        <div class="disciplina__conteudo">
          <h4 class="disciplina__titulo">Hardware</h4>
          <p class="disciplina__descricao">disciplina ...</p>
          <button class="codhuman-botao__area">Ver disciplina</button>
        </div>
      </div>
      <div class="disciplina">
        <img
          alt="Linguagens de Programação"
          class="disciplina__imagem"
          src="./assets/img/disciplinas/logo-ciencia-da-computacao.png"
        />
        <div class="disciplina__conteudo">
          <h4 class="disciplina__titulo">Linguagens de Programação</h4>
          <p class="disciplina__descricao">disciplina ...</p>
          <button class="codhuman-botao__area">Ver disciplina</button>
        </div>
      </div>
      <div class="disciplina">
        <img
          alt="Linguagens de Marcação"
          class="disciplina__imagem"
          src="./assets/img/disciplinas/logo-ciencia-da-computacao.png"
        />
        <div class="disciplina__conteudo">
          <h4 class="disciplina__titulo">Linguagens de Marcação</h4>
          <p class="disciplina__descricao">disciplina ...</p>
          <button class="codhuman-botao__area">Ver disciplina</button>
        </div>
      </div>
      <div class="disciplina">
        <img
          alt="Linguagens de Estilização"
          class="disciplina__imagem"
          src="./assets/img/disciplinas/logo-ciencia-da-computacao.png"
        />
        <div class="disciplina__conteudo">
          <h4 class="disciplina__titulo">Linguagens de Estilização</h4>
          <p class="disciplina__descricao">disciplina ...</p>
          <button class="codhuman-botao__area">Ver disciplina</button>
        </div>
      </div>
      <div class="disciplina">
        <img
          alt="Linguagens de Notação e Dados"
          class="disciplina__imagem"
          src="./assets/img/disciplinas/logo-ciencia-da-computacao.png"
        />
        <div class="disciplina__conteudo">
          <h4 class="disciplina__titulo">Linguagens de Notação e Dados</h4>
          <p class="disciplina__descricao">disciplina ...</p>
          <button class="codhuman-botao__area">Ver disciplina</button>
        </div>
      </div>
      <div class="disciplina">
        <img
          alt="Sistemas Operacionais"
          class="disciplina__imagem"
          src="./assets/img/disciplinas/logo-ciencia-da-computacao.png"
        />
        <div class="disciplina__conteudo">
          <h4 class="disciplina__titulo">Sistemas Operacionais</h4>
          <p class="disciplina__descricao">disciplina ...</p>
          <button class="codhuman-botao__area">Ver disciplina</button>
        </div>
      </div>
    </section>

    <!-- <section class="quem-somos"> -->
      <!-- <h3 class="quem-somos__titulo">Quem somos</h3> -->
      <!-- ### <p class="quem-somos__descricao">Conheça a comunidade por trás da iniciativa</p> -->
      <!-- <div class="pessoas"> -->
        <!-- <div class="pessoa"> -->
          <!-- <div class="pessoa__imagem pessoa__imagem--reinaldo"></div> -->
          <!-- <span class="pessoa__nome">Reinaldo Santana</span> -->
          <!-- ###<span class="pessoa__funcao">Conteúdo</span> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </section> -->

    <!-- Container (About Section) -->
    <!-- <div class="container-fluid">
      <h2>About Company Page</h2>
      <h4>Lorem ipsum..</h4>
      <p>Lorem ipsum..</p>
      <button class="btn btn-default btn-lg">Get in Touch</button>
    </div>

    <div class="container-fluid bg-grey">
      <h2>Our Values</h2>
      <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>
      <p><strong>VISION:</strong> Our vision Lorem ipsum..
    </div> -->
  </main>
</section>
