<!-- <header class="sticky-top"> -->
  <div class="grid-sidebar">
    <nav id="sidebarMenu" class="sidebar">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <!-- <li class="nav-item">
            <a routerLink="pagina-inicial" class="nav-link active logo-text">
              <span>Codhuman</span>
            </a>
          </li> -->
          <app-sidebar-trilha-sugerida></app-sidebar-trilha-sugerida>
          <app-sidebar-publicacoes-recentes></app-sidebar-publicacoes-recentes>
          <app-sidebar-nutri-grute-alimentos-tecnologia></app-sidebar-nutri-grute-alimentos-tecnologia>
          <app-sidebar-nutri-grute-avaliacao-nutricional></app-sidebar-nutri-grute-avaliacao-nutricional>
          <app-sidebar-nutri-grute-bases-biomedicas></app-sidebar-nutri-grute-bases-biomedicas>
          <app-sidebar-nutri-grute-complementares-humanisticas></app-sidebar-nutri-grute-complementares-humanisticas>
          <app-sidebar-nutri-grute-dietoterapia-clinica></app-sidebar-nutri-grute-dietoterapia-clinica>
          <app-sidebar-nutri-grute-estagios-tcc></app-sidebar-nutri-grute-estagios-tcc>
          <app-sidebar-nutri-grute-gestao-administracao></app-sidebar-nutri-grute-gestao-administracao>
          <app-sidebar-nutri-grute-metodologia-pesquisa></app-sidebar-nutri-grute-metodologia-pesquisa>
          <app-sidebar-nutri-grute-microbiologia-higiene></app-sidebar-nutri-grute-microbiologia-higiene>
          <app-sidebar-nutri-grute-nutricao-dietetica></app-sidebar-nutri-grute-nutricao-dietetica>
          <app-sidebar-nutri-grute-psicologia-relacoes></app-sidebar-nutri-grute-psicologia-relacoes>
          <app-sidebar-nutri-grute-saude-coletiva></app-sidebar-nutri-grute-saude-coletiva>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <!-- Conteúdo principal da página -->
    </main>
  </div>
<!-- </header> -->
